# vi-style editing for utils using readline (bash, pry, psql...)
set editing-mode vi

set keymap vi-command
"k": history-search-backward
"j": history-search-forward

set keymap vi-insert
"jj": vi-movement-mode
